{% extends 'base.html' %} {% block content %}

<form class="edit_form" action="/cars/{{car.id}}" method="post">
    <div>
    <div>
        <label class="edit_brand" for="brand">Brand:</label> <br>
        <select class="select_brand" name="brand" id="brand">
            {% for brand in all_brands %}
            <option value="{{ brand.id }}" {% if car.brand.id == brand.id %} selected="selected"{% endif %}>
              {{ brand.name}}  
            </option>
            {% endfor %}
        </select>
    </div>

    <div><label class="edit_qm" for="make">Make:</label> <br>
        <input type="text" id="make" name="make" value="{{car.make}}" required>
    </div>

    <div>
        <label class="edit_qm" for="model">Model: </label>  <br>
        <input type="text" name="model" id="model" value="{{car.model}}" required>
    </div>

    <div>
        <label class="edit_label" for="buying_cost">Buying Cost £: </label><br> 
        <!-- <span class="currency">£</span> <br> -->
        <input type="text" name="buying_cost" id="buying_cost" value="{{car.buying_cost}}" required>
    </div>

    <div>
        <label class="edit_label" for="selling_cost">Selling Cost £:</label>  <br>
        <!-- <span class="currency">£</span> <br> -->
        <input type="text" name="selling_cost"  value="{{car.selling_cost}}" id="selling_cost" required>
    </div>

    <div>
        <label class="edit_qm" for="quantity">Quantity:</label>  <br>
        <input type="number" name="quantity" id="quantity"  value="{{car.quantity}}" required> <br>   
    </div>
    <div>
        <label class="edit_qm" for="sold">Sold Out?: </label>  <br>
        <select class="sold" name="sold" id="sold">
            <option  value="">Yes, sold</option>
            <option value="False">Not sold</option>
        </select>
    </div>
</div>
    <button type="submit">Update Details</button>
        

</form>



{% endblock %}