{% extends 'base.html' %} {% block content %}
    
<form class="new_car" action="/cars" method="post">
    <div>
        <label for="brand">Brand:</label>
       <select name="brand_id" id="brand">     
        {% for brand in all_brands %}
           <option value="{{brand.id}}"> 
            {{brand.name}}
        </option>
        {% endfor %}
        </select>

    </div>

    <div>
        <label for="make">Make:</label>
        <input type="text" name="make" id="make">
    </div>

    <div>
        <label for="model">Model:</label>
        <input type="text" name="model" id="model">
    </div>

        <div>
            <label for="buying_cost">Buying Cost:</label>
            <span class="currency">£</span>
            <input type="text" name="buying_cost" id="buying_cost">
        </div>

        <div>
            <label for="selling_cost">Selling Cost:</label>
            <span class="currency">£</span>
            <input type="text" name="selling_cost" id="selling_cost">
        </div>

        <div>
            <label for="quantity">Quantity:</label>
            <input type="number" name="quantity" id="quantity"> <br>   
        </div>
        <div>
            <label for="sold">Sold: </label>
            <select name="sold" id="sold">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
        </div>
            <button type="submit">Add Vehicle</button>
</form>






{% endblock  %}