<html>


    <head>
        <title>Bespoke Autos</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
    </head>

    <body>
       <nav class="menu">
            <img class="logo2" src="{{url_for('static', filename='logo1.png')}}">
            <h2 class="logo1">...the inventory</h2>
            <a class="anchor" href="/">HOME</a>
            <a class="anchor" href="/cars">INVENTORY</a>
            <a class="anchor" href="/brands">BRANDS</a>
            <a class="anchor" href="/cars/new">ADD VEHICLE</a>
        </nav>
       
        

        {% block content %}{% endblock %}
    </body>
    <!-- <footer >
        <small>Designed by Santan Inc © 2023</small>
    </footer> -->
</html>