.anchor {
    text-decoration: None;
    margin: 5px 10px;
    padding-top: 10%;
    color: #EEEEEE;
}

.anchor:hover{
    color: #F6BA6F;
}

body {

    background-image: url(https://cdn.shopify.com/s/files/1/0075/6354/2643/files/Small-11995-McLaren-765LT.jpg?v=1588853362);

    background-size: cover;
    background-position: center;
}

.content{
    padding-top: 5px;
}
.car_name {
   
    text-decoration: none;
    font-weight: bold;
    color: #EEEEEE;
}
.welcome{

    /* color: #EEEEEE; */
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    
}

.edit {
    text-align: center;
}
.edit_button {
    text-decoration:  none;
    /* color: #EEEEEE; */
    font-weight: bold;
}

.menu {
    background-color: #1D5B79;  
    /* text-align:  center; */
    padding-top:3%;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.new_car{
    border-style: solid;
    text-align: center;
    border-color: #EEEEEE;
    border-radius: 20px;
    margin-left: 20%;
    margin-right: 20%;

}
.logo1 {

    display: inline-block;
    padding-left: 30px;

   
}
.logo1:hover {
    color: #F6BA6F;

}
 
.logo2 {

    /* padding: 20PX; */
    max-width: 15%;
    max-height:10%;
}

p {
   text-align: center; 
}
option {

    width: 10%;
}

.show {
    border-style: solid;
    border-color: #EEEEEE;
    /* background-color: #EEEEEE; */
    border-radius: 20px;
    margin-left: 25%;
    margin-right: 25%;
    

}